<!-- foods_db.html -->

{% extends 'base.html' %}

{% block title %}Food List{% endblock %}

{% block content %}
    <h2>This is the list of all foods</h2>
    <form method="get">
        <label for="portion_size">Portion size (grams): </label>
        <input type="number" id="portion_size" name="portion_size" value="{{ portion_size }}" min="1">
        <button type="submit">Update</button>
    </form>
    {% if foods_list %}
        <ul>
            {% for food in foods_list %}
                <li>{{ food.name }} ({{ food.category.name }}) - {{ food.calories }} calories
                    <ul>
                        {% for food_nutrient in food.food_nutrients.all %}
                            <li>{{ food_nutrient.amount }} {{ food_nutrient.nutrient.unit }} of {{ food_nutrient.nutrient.name }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No foods are available.</p>
    {% endif %}
{% endblock %}
